In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("iris.csv")

In [3]:
df.describe()

       Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width
count  120.000000    120.000000   120.000000    120.000000   120.000000
mean    75.158333      5.863333     3.032500      3.801667     1.208333
std     43.469297      0.834541     0.422709      1.734571     0.746936
min      0.000000      4.400000     2.000000      1.000000     0.100000
25%     41.500000      5.100000     2.800000      1.600000     0.300000
50%     74.500000      5.800000     3.000000      4.350000     1.300000
75%    113.250000      6.400000     3.300000      5.100000     1.800000
max    149.000000      7.900000     4.400000      6.900000     2.500000

In [4]:
df.head()

,Unnamed: 0,sepal_length,sepal_width,petal_length,petal_width,species
0,69,5.6,2.5,3.9,1.1,Iris-versicolor
1,117,7.7,3.8,6.7,2.2,Iris-virginica
2,103,6.3,2.9,5.6,1.8,Iris-virginica
3,61,5.9,3.0,4.2,1.5,Iris-versicolor
4,101,5.8,2.7,5.1,1.9,Iris-virginica

In [5]:
df["species"].value_counts()

Iris-versicolor    42
Iris-virginica     40
Iris-setosa        38
Name: species, dtype: int64

In [6]:
print("sepal_length mean and Deviation is ", df["sepal_length"].mean(),df["sepal_length"].std())

sepal_length mean and Deviation is  5.863333333333333 0.8345414212329437

In [7]:
print("sepal_width mean and Deviation is ", df["sepal_width"].mean(),df["sepal_width"].std())

sepal_width mean and Deviation is  3.0324999999999998 0.4227088514678201

In [13]:
print("petal_length mean and Deviation is ", df["petal_length"].mean(),df["petal_length"].std())

petal_length mean and Deviation is  3.8016666666666667 1.7345710405393806

In [14]:
print("petal_length mean and Deviation is ", df["petal_width"].mean(),df["petal_width"].std())

petal_length mean and Deviation is  1.2083333333333333 0.7469358508373434

In [16]:
 df[df['species']=="Iris-versicolor"].mean()

C:\Users\USER\AppData\Local\Temp\ipykernel_8136\1808947818.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df[df['species']=="Iris-versicolor"].mean()

Unnamed: 0      73.785714
sepal_length     5.964286
sepal_width      2.771429
petal_length     4.235714
petal_width      1.319048
dtype: float64

In [17]:
 df[df['species']=="Iris-setosa"].mean()

C:\Users\USER\AppData\Local\Temp\ipykernel_8136\1346809083.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df[df['species']=="Iris-setosa"].mean()

Unnamed: 0      24.000000
sepal_length     4.986842
sepal_width      3.400000
petal_length     1.481579
petal_width      0.244737
dtype: float64

In [18]:
 df[df['species']=="Iris-virginica"].mean()

C:\Users\USER\AppData\Local\Temp\ipykernel_8136\3146510401.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df[df['species']=="Iris-virginica"].mean()

Unnamed: 0      125.2000
sepal_length      6.5900
sepal_width       2.9575
petal_length      5.5500
petal_width       2.0075
dtype: float64

In [20]:
df1=df.drop("sepal_length",axis=1)

In [21]:
df1.head()

   Unnamed: 0  sepal_width  petal_length  petal_width          species
0          69          2.5           3.9          1.1  Iris-versicolor
1         117          3.8           6.7          2.2   Iris-virginica
2         103          2.9           5.6          1.8   Iris-virginica
3          61          3.0           4.2          1.5  Iris-versicolor
4         101          2.7           5.1          1.9   Iris-virginica

In [22]:
from sklearn.model_selection import train_test_split
train,test= train_test_split(df1,test_size=0.2)

In [23]:
len(train),len(test)

(96, 24)

In [24]:
train.head(10)

     Unnamed: 0  sepal_width  petal_length  petal_width          species
29            8          2.9           1.4          0.2      Iris-setosa
32           16          3.9           1.3          0.4      Iris-setosa
103         110          3.2           5.1          2.0   Iris-virginica
26          147          3.0           5.2          2.0   Iris-virginica
7            71          2.8           4.0          1.3  Iris-versicolor
36           51          3.2           4.5          1.5  Iris-versicolor
16           19          3.8           1.5          0.3      Iris-setosa
12          124          3.3           5.7          2.1   Iris-virginica
76          148          3.4           5.4          2.3   Iris-virginica
110         131          3.8           6.4          2.0   Iris-virginica

In [25]:
train["species"].value_counts()

Iris-virginica     33
Iris-setosa        32
Iris-versicolor    31
Name: species, dtype: int64

In [27]:
test["species"].value_counts()

Iris-versicolor    11
Iris-virginica      7
Iris-setosa         6
Name: species, dtype: int64

In [28]:
train.to_csv('iris.csv',index=False)
test.to_csv('iris.csv',index=False)

In [29]:
train_df = pd.read_csv("iris.csv")
test_df= pd.read_csv("iris.csv")

In [30]:
train_df.head()

   Unnamed: 0  sepal_width  petal_length  petal_width          species
0          82          2.7           3.9          1.2  Iris-versicolor
1          27          3.5           1.5          0.2      Iris-setosa
2           9          3.1           1.5          0.1      Iris-setosa
3          14          4.0           1.2          0.2      Iris-setosa
4          61          3.0           4.2          1.5  Iris-versicolor

In [31]:
train_df.isnull().sum()

Unnamed: 0      0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [32]:
sertosa_count=test_df[test_df["species"]=="Iris-setosa"].value_counts().sum()

In [33]:
from sklearn.neighbors import KNeighborsClassifier 
knn=KNeighborsClassifier(n_neighbors=2)

In [34]:
x_train=train_df.drop('species',axis=1)
y_train=train_df["species"]
x_test=test_df.drop('species',axis=1)
y_test=test_df["species"]

In [35]:
x_train.head()

   Unnamed: 0  sepal_width  petal_length  petal_width
0          82          2.7           3.9          1.2
1          27          3.5           1.5          0.2
2           9          3.1           1.5          0.1
3          14          4.0           1.2          0.2
4          61          3.0           4.2          1.5

In [36]:
y_train.head()

0    Iris-versicolor
1        Iris-setosa
2        Iris-setosa
3        Iris-setosa
4    Iris-versicolor
Name: species, dtype: object

In [37]:
x_test[:5]

   Unnamed: 0  sepal_width  petal_length  petal_width
0          82          2.7           3.9          1.2
1          27          3.5           1.5          0.2
2           9          3.1           1.5          0.1
3          14          4.0           1.2          0.2
4          61          3.0           4.2          1.5

In [41]:
score=knn.score(x_test,y_test)
score

0.9583333333333334

In [42]:
pred=knn.predict(x_test)
pred

array(['Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa', 'Iris-virginica', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor'], dtype=object)

In [43]:
y_test

0     Iris-versicolor
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4     Iris-versicolor
5      Iris-virginica
6     Iris-versicolor
7     Iris-versicolor
8     Iris-versicolor
9      Iris-virginica
10        Iris-setosa
11    Iris-versicolor
12    Iris-versicolor
13        Iris-setosa
14     Iris-virginica
15     Iris-virginica
16     Iris-virginica
17    Iris-versicolor
18     Iris-virginica
19     Iris-virginica
20    Iris-versicolor
21        Iris-setosa
22    Iris-versicolor
23    Iris-versicolor
Name: species, dtype: object

In [44]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [45]:
print(confusion_matrix(y_test,pred))

[[ 6  0  0]
 [ 1 10  0]
 [ 0  0  7]]

In [46]:
print(classification_report(y_test,pred))

                 precision    recall  f1-score   support

    Iris-setosa       0.86      1.00      0.92         6
Iris-versicolor       1.00      0.91      0.95        11
 Iris-virginica       1.00      1.00      1.00         7

       accuracy                           0.96        24
      macro avg       0.95      0.97      0.96        24
   weighted avg       0.96      0.96      0.96        24

In [47]:
from sklearn.linear_model import LogisticRegression

In [48]:
model2=LogisticRegression()

In [51]:
pred=model2.predict(x_test)

In [52]:
pred

array(['Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-setosa', 'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor'], dtype=object)

In [53]:
accuracy_score(y_test,pred)

1.0

In [54]:
confusion_matrix(y_test,pred)

array([[ 6,  0,  0],
       [ 0, 11,  0],
       [ 0,  0,  7]], dtype=int64)

In [55]:
print(classification_report(y_test,pred))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00         6
Iris-versicolor       1.00      1.00      1.00        11
 Iris-virginica       1.00      1.00      1.00         7

       accuracy                           1.00        24
      macro avg       1.00      1.00      1.00        24
   weighted avg       1.00      1.00      1.00        24

In [56]:
from sklearn.tree import DecisionTreeClassifier

In [57]:
clf=DecisionTreeClassifier(max_depth=3,random_state=42)

In [71]:
clf.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=3, random_state=42)

In [59]:
pred=clf.predict(x_test)
pred

array(['Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-setosa', 'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor'], dtype=object)

In [60]:
confusion_matrix(y_test,pred)

array([[ 6,  0,  0],
       [ 0, 11,  0],
       [ 0,  0,  7]], dtype=int64)

In [72]:
accuracy_score(y_test,pred)

1.0

In [62]:
print(classification_report(y_test,pred))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00         6
Iris-versicolor       1.00      1.00      1.00        11
 Iris-virginica       1.00      1.00      1.00         7

       accuracy                           1.00        24
      macro avg       1.00      1.00      1.00        24
   weighted avg       1.00      1.00      1.00        24

In [63]:
from sklearn.cluster import KMeans

In [64]:
km=KMeans(n_clusters=3)

In [74]:
pred[:10]

array(['Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica'],
      dtype=object)

In [75]:
y_test

0     Iris-versicolor
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4     Iris-versicolor
5      Iris-virginica
6     Iris-versicolor
7     Iris-versicolor
8     Iris-versicolor
9      Iris-virginica
10        Iris-setosa
11    Iris-versicolor
12    Iris-versicolor
13        Iris-setosa
14     Iris-virginica
15     Iris-virginica
16     Iris-virginica
17    Iris-versicolor
18     Iris-virginica
19     Iris-virginica
20    Iris-versicolor
21        Iris-setosa
22    Iris-versicolor
23    Iris-versicolor
Name: species, dtype: object

In [76]:
from sklearn import datasets

In [77]:
iris=datasets.load_iris()

In [78]:
iris

{'data': array([[5.1, 3.5, 1.4, 0.2],
        [4.9, 3. , 1.4, 0.2],
        [4.7, 3.2, 1.3, 0.2],
        [4.6, 3.1, 1.5, 0.2],
        [5. , 3.6, 1.4, 0.2],
        [5.4, 3.9, 1.7, 0.4],
        [4.6, 3.4, 1.4, 0.3],
        [5. , 3.4, 1.5, 0.2],
        [4.4, 2.9, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [5.4, 3.7, 1.5, 0.2],
        [4.8, 3.4, 1.6, 0.2],
        [4.8, 3. , 1.4, 0.1],
        [4.3, 3. , 1.1, 0.1],
        [5.8, 4. , 1.2, 0.2],
        [5.7, 4.4, 1.5, 0.4],
        [5.4, 3.9, 1.3, 0.4],
        [5.1, 3.5, 1.4, 0.3],
        [5.7, 3.8, 1.7, 0.3],
        [5.1, 3.8, 1.5, 0.3],
        [5.4, 3.4, 1.7, 0.2],
        [5.1, 3.7, 1.5, 0.4],
        [4.6, 3.6, 1. , 0.2],
        [5.1, 3.3, 1.7, 0.5],
        [4.8, 3.4, 1.9, 0.2],
        [5. , 3. , 1.6, 0.2],
        [5. , 3.4, 1.6, 0.4],
        [5.2, 3.5, 1.5, 0.2],
        [5.2, 3.4, 1.4, 0.2],
        [4.7, 3.2, 1.6, 0.2],
        [4.8, 3.1, 1.6, 0.2],
        [5.4, 3.4, 1.5, 0.4],
        [5.2, 4.1, 1.5, 0.1],
        [5.5, 4.2, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.2],
        [5. , 3.2, 1.2, 0.2],
        [5.5, 3.5, 1.3, 0.2],
        [4.9, 3.6, 1.4, 0.1],
        [4.4, 3. , 1.3, 0.2],
        [5.1, 3.4, 1.5, 0.2],
        [5. , 3.5, 1.3, 0.3],
        [4.5, 2.3, 1.3, 0.3],
        [4.4, 3.2, 1.3, 0.2],
        [5. , 3.5, 1.6, 0.6],
        [5.1, 3.8, 1.9, 0.4],
        [4.8, 3. , 1.4, 0.3],
        [5.1, 3.8, 1.6, 0.2],
        [4.6, 3.2, 1.4, 0.2],
        [5.3, 3.7, 1.5, 0.2],
        [5. , 3.3, 1.4, 0.2],
        [7. , 3.2, 4.7, 1.4],
        [6.4, 3.2, 4.5, 1.5],
        [6.9, 3.1, 4.9, 1.5],
        [5.5, 2.3, 4. , 1.3],
        [6.5, 2.8, 4.6, 1.5],
        [5.7, 2.8, 4.5, 1.3],
        [6.3, 3.3, 4.7, 1.6],
        [4.9, 2.4, 3.3, 1. ],
        [6.6, 2.9, 4.6, 1.3],
        [5.2, 2.7, 3.9, 1.4],
        [5. , 2. , 3.5, 1. ],
        [5.9, 3. , 4.2, 1.5],
        [6. , 2.2, 4. , 1. ],
        [6.1, 2.9, 4.7, 1.4],
        [5.6, 2.9, 3.6, 1.3],
        [6.7, 3.1, 4.4, 1.4],
        [5.6, 3. , 4.5, 1.5],
        [5.8, 2.7, 4.1, 1. ],
        [6.2, 2.2, 4.5, 1.5],
        [5.6, 2.5, 3.9, 1.1],
        [5.9, 3.2, 4.8, 1.8],
        [6.1, 2.8, 4. , 1.3],
        [6.3, 2.5, 4.9, 1.5],
        [6.1, 2.8, 4.7, 1.2],
        [6.4, 2.9, 4.3, 1.3],
        [6.6, 3. , 4.4, 1.4],
        [6.8, 2.8, 4.8, 1.4],
        [6.7, 3. , 5. , 1.7],
        [6. , 2.9, 4.5, 1.5],
        [5.7, 2.6, 3.5, 1. ],
        [5.5, 2.4, 3.8, 1.1],
        [5.5, 2.4, 3.7, 1. ],
        [5.8, 2.7, 3.9, 1.2],
        [6. , 2.7, 5.1, 1.6],
        [5.4, 3. , 4.5, 1.5],
        [6. , 3.4, 4.5, 1.6],
        [6.7, 3.1, 4.7, 1.5],
        [6.3, 2.3, 4.4, 1.3],
        [5.6, 3. , 4.1, 1.3],
        [5.5, 2.5, 4. , 1.3],
        [5.5, 2.6, 4.4, 1.2],
        [6.1, 3. , 4.6, 1.4],
        [5.8, 2.6, 4. , 1.2],
        [5. , 2.3, 3.3, 1. ],
        [5.6, 2.7, 4.2, 1.3],
        [5.7, 3. , 4.2, 1.2],
        [5.7, 2.9, 4.2, 1.3],
        [6.2, 2.9, 4.3, 1.3],
        [5.1, 2.5, 3. , 1.1],
        [5.7, 2.8, 4.1, 1.3],
        [6.3, 3.3, 6. , 2.5],
        [5.8, 2.7, 5.1, 1.9],
        [7.1, 3. , 5.9, 2.1],
        [6.3, 2.9, 5.6, 1.8],
        [6.5, 3. , 5.8, 2.2],
        [7.6, 3. , 6.6, 2.1],
        [4.9, 2.5, 4.5, 1.7],
        [7.3, 2.9, 6.3, 1.8],
        [6.7, 2.5, 5.8, 1.8],
        [7.2, 3.6, 6.1, 2.5],
        [6.5, 3.2, 5.1, 2. ],
        [6.4, 2.7, 5.3, 1.9],
        [6.8, 3. , 5.5, 2.1],
        [5.7, 2.5, 5. , 2. ],
        [5.8, 2.8, 5.1, 2.4],
        [6.4, 3.2, 5.3, 2.3],
        [6.5, 3. , 5.5, 1.8],
        [7.7, 3.8, 6.7, 2.2],
        [7.7, 2.6, 6.9, 2.3],
        [6. , 2.2, 5. , 1.5],
        [6.9, 3.2, 5.7, 2.3],
        [5.6, 2.8, 4.9, 2. ],
        [7.7, 2.8, 6.7, 2. ],
        [6.3, 2.7, 4.9, 1.8],
        [6.7, 3.3, 5.7, 2.1],
        [7.2, 3.2, 6. , 1.8],
        [6.2, 2.8, 4.8, 1.8],
        [6.1, 3. , 4.9, 1.8],
        [6.4, 2.8, 5.6, 2.1],
        [7.2, 3. , 5.8, 1.6],
        [7.4, 2.8, 6.1, 1.9],
        [7.9, 3.8, 6.4, 2. ],
        [6.4, 2.8, 5.6, 2.2],
        [6.3, 2.8, 5.1, 1.5],
        [6.1, 2.6, 5.6, 1.4],
        [7.7, 3. , 6.1, 2.3],
        [6.3, 3.4, 5.6, 2.4],
        [6.4, 3.1, 5.5, 1.8],
        [6. , 3. , 4.8, 1.8],
        [6.9, 3.1, 5.4, 2.1],
        [6.7, 3.1, 5.6, 2.4],
        [6.9, 3.1, 5.1, 2.3],
        [5.8, 2.7, 5.1, 1.9],
        [6.8, 3.2, 5.9, 2.3],
        [6.7, 3.3, 5.7, 2.5],
        [6.7, 3. , 5.2, 2.3],
        [6.3, 2.5, 5. , 1.9],
        [6.5, 3. , 5.2, 2. ],
        [6.2, 3.4, 5.4, 2.3],
        [5.9, 3. , 5.1, 1.8]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
 'frame': None,
 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'),
 'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...',
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'filename': 'iris.csv',
 'data_module': 'sklearn.datasets.data'}

In [79]:
print(iris.target_names)

['setosa' 'versicolor' 'virginica']

In [80]:
iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [81]:
km=KMeans(n_clusters=3)

In [85]:
iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])